In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
student_df = pd.read_csv("C:/Users/drkir/Downloads/Student_Enrollment_for_Regular_courses-2015.csv")
student_df

,University_id,University_name,survey_year,faculty_name,department_name,levell,programme_id,programme,discipline_group_id,discipline_group,...,other_minority_general_females,other_minority_sc_total,other_minority_sc_females,other_minority_st_total,other_minority_st_females,other_minority_obc_total,other_minority_obc_females,other_minority_total_persons,other_minority_total_females,other_minority_remarks_id
0,774,DIT UNIVERSITY,2015,Faculty of Science and Technology,Civil Engineering,Under Graduate,36,B.Tech.-Bachelor of Technology,16,Civil Engineering,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0
1,594,"Children University, Gandhinagar",2015,Research,NaN,Ph.D.,157,Ph.D.-Doctor of Philosophy,118,Women Studies,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,708,"C.U.SHAH UNIVERSITY, SURENDRANAGAR",2015,Faculty of Technology & Engineering / C. U. Sh...,NaN,Under Graduate,36,B.Tech.-Bachelor of Technology,19,Electrical Engineering,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
3,702,SHREE GURU GOBIND SINGH TRICENTENARY UNIVERSIT...,2015,Faculty of Medicine & Health Sciences,NaN,Post Graduate,131,M.D.-Doctor of Medicine,149,Forensic Medicine/ Toxicology,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,140,Junagadh Agricultural University,2015,NaN,NaN,Post Graduate,111,M.Sc.-Master of Science,1,Agriculture,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68012,399,"Jai Narain Vyas University, Jodhpur",2015,Faculty of Commerce & Management,NaN,Under Graduate,12,B.Com.-Bachelor of Commerce,9,Commerce,...,5.0,0.0,0.0,0.0,0.0,19.0,2.0,36.0,7.0,NaN
68013,173,"O. P. Jindal Global University, Sonipat",2015,Jindal Global Law School,NaN,Integrated,39,"B.A. L.L.B.-Bachelor of Arts, Bachelor of Law ...",52,Law,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
68014,162,Guru Jambheshwar University of Science and Tec...,2015,Haryana School of Business,Haryana School of Business,Post Graduate,126,M.B.A.- Master of Business Administration,133,Business Administration,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
68015,162,Guru Jambheshwar University of Science and Tec...,2015,Haryana School of Business,Haryana School of Business,Post Graduate,126,M.B.A.- Master of Business Administration,133,Business Administration,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
68016,201,"Shri Mata Vaishno Devi University, Jammu",2015,Faculty of Engineering,Department of Computer Science & Engineering,Post Graduate,122,M.Tech. -Master of Technology,17,Computer Engineering,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [3]:
student_df.tail()

,University_id,University_name,survey_year,faculty_name,department_name,levell,programme_id,programme,discipline_group_id,discipline_group,...,other_minority_general_females,other_minority_sc_total,other_minority_sc_females,other_minority_st_total,other_minority_st_females,other_minority_obc_total,other_minority_obc_females,other_minority_total_persons,other_minority_total_females,other_minority_remarks_id
68012,399,"Jai Narain Vyas University, Jodhpur",2015,Faculty of Commerce & Management,NaN,Under Graduate,12,B.Com.-Bachelor of Commerce,9,Commerce,...,5.0,0.0,0.0,0.0,0.0,19.0,2.0,36.0,7.0,NaN
68013,173,"O. P. Jindal Global University, Sonipat",2015,Jindal Global Law School,NaN,Integrated,39,"B.A. L.L.B.-Bachelor of Arts, Bachelor of Law ...",52,Law,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
68014,162,Guru Jambheshwar University of Science and Tec...,2015,Haryana School of Business,Haryana School of Business,Post Graduate,126,M.B.A.- Master of Business Administration,133,Business Administration,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
68015,162,Guru Jambheshwar University of Science and Tec...,2015,Haryana School of Business,Haryana School of Business,Post Graduate,126,M.B.A.- Master of Business Administration,133,Business Administration,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
68016,201,"Shri Mata Vaishno Devi University, Jammu",2015,Faculty of Engineering,Department of Computer Science & Engineering,Post Graduate,122,M.Tech. -Master of Technology,17,Computer Engineering,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [4]:
student_df.head()

,University_id,University_name,survey_year,faculty_name,department_name,levell,programme_id,programme,discipline_group_id,discipline_group,...,other_minority_general_females,other_minority_sc_total,other_minority_sc_females,other_minority_st_total,other_minority_st_females,other_minority_obc_total,other_minority_obc_females,other_minority_total_persons,other_minority_total_females,other_minority_remarks_id
0,774,DIT UNIVERSITY,2015,Faculty of Science and Technology,Civil Engineering,Under Graduate,36,B.Tech.-Bachelor of Technology,16,Civil Engineering,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.0
1,594,"Children University, Gandhinagar",2015,Research,NaN,Ph.D.,157,Ph.D.-Doctor of Philosophy,118,Women Studies,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,708,"C.U.SHAH UNIVERSITY, SURENDRANAGAR",2015,Faculty of Technology & Engineering / C. U. Sh...,NaN,Under Graduate,36,B.Tech.-Bachelor of Technology,19,Electrical Engineering,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
3,702,SHREE GURU GOBIND SINGH TRICENTENARY UNIVERSIT...,2015,Faculty of Medicine & Health Sciences,NaN,Post Graduate,131,M.D.-Doctor of Medicine,149,Forensic Medicine/ Toxicology,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,140,Junagadh Agricultural University,2015,NaN,NaN,Post Graduate,111,M.Sc.-Master of Science,1,Agriculture,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [5]:
student_df.nunique()

University_id                       706
University_name                     706
survey_year                           1
faculty_name                       2061
department_name                    3103
levell                                8
programme_id                        172
programme                           172
discipline_group_id                 174
discipline_group                    174
discipline                         9709
type                                  3
year                                  7
total_general_total                 505
total_general_females               295
total_sc_total                      229
total_sc_females                    116
total_st_total                      121
total_st_females                     83
total_obc_total                     351
total_obc_females                   198
total_total_persons                 699
total_total_females                 396
total_remarks_id                      2
pwd_general_total                    31
pwd_general_females                  15
pwd_sc_total                         14
pwd_sc_females                        7
pwd_st_total                          6
pwd_st_females                        3
pwd_obc_total                        31
pwd_obc_females                      14
pwd_total_persons                    43
pwd_total_females                    20
pwd_remarks_id                        2
muslim_minority_general_total       141
muslim_minority_general_females      74
muslim_minority_sc_total              7
muslim_minority_sc_females            4
muslim_minority_st_total             17
muslim_minority_st_females            8
muslim_minority_obc_total           105
muslim_minority_obc_females          60
muslim_minority_total_persons       166
muslim_minority_total_females        90
muslim_minority_remarks_id            2
other_minority_general_total         81
other_minority_general_females       47
other_minority_sc_total              40
other_minority_sc_females            23
other_minority_st_total              56
other_minority_st_females            34
other_minority_obc_total             69
other_minority_obc_females           39
other_minority_total_persons        110
other_minority_total_females         62
other_minority_remarks_id             3
dtype: int64

In [7]:
student_df.duplicated().sum()

284

In [8]:
df=student_df.drop_duplicates()

In [9]:
df.duplicated().sum()

0

In [10]:
student_df.isna().sum()

University_id                          0
University_name                        0
survey_year                            0
faculty_name                        5145
department_name                    35822
levell                                 0
programme_id                           0
programme                              0
discipline_group_id                    0
discipline_group                       0
discipline                            10
type                                   0
year                                7414
total_general_total                 8114
total_general_females               8114
total_sc_total                      8114
total_sc_females                    8114
total_st_total                      8114
total_st_females                    8114
total_obc_total                     8177
total_obc_females                   8177
total_total_persons                    0
total_total_females                    0
total_remarks_id                   59840
pwd_general_total                  21864
pwd_general_females                21864
pwd_sc_total                       21864
pwd_sc_females                     21864
pwd_st_total                       21864
pwd_st_females                     21864
pwd_obc_total                      21855
pwd_obc_females                    21855
pwd_total_persons                      0
pwd_total_females                      0
pwd_remarks_id                     46152
muslim_minority_general_total      23009
muslim_minority_general_females    23009
muslim_minority_sc_total           23009
muslim_minority_sc_females         23009
muslim_minority_st_total           23009
muslim_minority_st_females         23009
muslim_minority_obc_total          22982
muslim_minority_obc_females        22982
muslim_minority_total_persons       7396
muslim_minority_total_females       7396
muslim_minority_remarks_id         45008
other_minority_general_total       24195
other_minority_general_females     24195
other_minority_sc_total            24195
other_minority_sc_females          24195
other_minority_st_total            24195
other_minority_st_females          24195
other_minority_obc_total           24180
other_minority_obc_females         24180
other_minority_total_persons        8003
other_minority_total_females        8003
other_minority_remarks_id          43820
dtype: int64

In [11]:
student_df.tail()

,University_id,University_name,survey_year,faculty_name,department_name,levell,programme_id,programme,discipline_group_id,discipline_group,...,other_minority_general_females,other_minority_sc_total,other_minority_sc_females,other_minority_st_total,other_minority_st_females,other_minority_obc_total,other_minority_obc_females,other_minority_total_persons,other_minority_total_females,other_minority_remarks_id
68012,399,"Jai Narain Vyas University, Jodhpur",2015,Faculty of Commerce & Management,NaN,Under Graduate,12,B.Com.-Bachelor of Commerce,9,Commerce,...,5.0,0.0,0.0,0.0,0.0,19.0,2.0,36.0,7.0,NaN
68013,173,"O. P. Jindal Global University, Sonipat",2015,Jindal Global Law School,NaN,Integrated,39,"B.A. L.L.B.-Bachelor of Arts, Bachelor of Law ...",52,Law,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
68014,162,Guru Jambheshwar University of Science and Tec...,2015,Haryana School of Business,Haryana School of Business,Post Graduate,126,M.B.A.- Master of Business Administration,133,Business Administration,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
68015,162,Guru Jambheshwar University of Science and Tec...,2015,Haryana School of Business,Haryana School of Business,Post Graduate,126,M.B.A.- Master of Business Administration,133,Business Administration,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
68016,201,"Shri Mata Vaishno Devi University, Jammu",2015,Faculty of Engineering,Department of Computer Science & Engineering,Post Graduate,122,M.Tech. -Master of Technology,17,Computer Engineering,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [12]:
df.loc[0,'University_name']

'DIT UNIVERSITY'

In [13]:
df.fillna

<bound method DataFrame.fillna of        University_id                                    University_name  \
0                774                                     DIT UNIVERSITY
1                594                   Children University, Gandhinagar
2                708                 C.U.SHAH UNIVERSITY, SURENDRANAGAR
3                702  SHREE GURU GOBIND SINGH TRICENTENARY UNIVERSIT...
4                140                   Junagadh Agricultural University
...              ...                                                ...
68012            399                Jai Narain Vyas University, Jodhpur
68013            173            O. P. Jindal Global University, Sonipat
68014            162  Guru Jambheshwar University of Science and Tec...
68015            162  Guru Jambheshwar University of Science and Tec...
68016            201           Shri Mata Vaishno Devi University, Jammu

       survey_year                                       faculty_name  \
0             2015                  Faculty of Science and Technology
1             2015                                           Research
2             2015  Faculty of Technology & Engineering / C. U. Sh...
3             2015              Faculty of Medicine & Health Sciences
4             2015                                                NaN
...            ...                                                ...
68012         2015                   Faculty of Commerce & Management
68013         2015                           Jindal Global Law School
68014         2015                         Haryana School of Business
68015         2015                         Haryana School of Business
68016         2015                             Faculty of Engineering

                                    department_name          levell  \
0                                 Civil Engineering  Under Graduate
1                                               NaN           Ph.D.
2                                               NaN  Under Graduate
3                                               NaN   Post Graduate
4                                               NaN   Post Graduate
...                                             ...             ...
68012                                           NaN  Under Graduate
68013                                           NaN      Integrated
68014                    Haryana School of Business   Post Graduate
68015                    Haryana School of Business   Post Graduate
68016  Department of Computer Science & Engineering   Post Graduate

       programme_id                                          programme  \
0                36                     B.Tech.-Bachelor of Technology
1               157                         Ph.D.-Doctor of Philosophy
2                36                     B.Tech.-Bachelor of Technology
3               131                            M.D.-Doctor of Medicine
4               111                            M.Sc.-Master of Science
...             ...                                                ...
68012            12                        B.Com.-Bachelor of Commerce
68013            39  B.A. L.L.B.-Bachelor of Arts, Bachelor of Law ...
68014           126          M.B.A.- Master of Business Administration
68015           126          M.B.A.- Master of Business Administration
68016           122                      M.Tech. -Master of Technology

       discipline_group_id               discipline_group  ...  \
0                       16              Civil Engineering  ...
1                      118                  Women Studies  ...
2                       19         Electrical Engineering  ...
3                      149  Forensic Medicine/ Toxicology  ...
4                        1                    Agriculture  ...
...                    ...                            ...  ...
68012                    9                       Commerce  ...
68013                   52                            Law  ...
68014                  133        Business Administration  ...
68015                  133        Business Administration  ...
68016                   17           Computer Engineering  ...

      other_minority_general_females other_minority_sc_total  \
0                                NaN                     NaN
1                                0.0                     0.0
2                                NaN                     NaN
3                                0.0                     0.0
4                                0.0                     0.0
...                              ...                     ...
68012                            5.0                     0.0
68013                            NaN                     NaN
68014                            NaN                     NaN
68015                            NaN                     NaN
68016                            0.0                     0.0

       other_minority_sc_females  other_minority_st_total  \
0                            NaN                      NaN
1                            0.0                      0.0
2                            NaN                      NaN
3                            0.0                      0.0
4                            0.0                      0.0
...                          ...                      ...
68012                        0.0                      0.0
68013                        NaN                      NaN
68014                        NaN                      NaN
68015                        NaN                      NaN
68016                        0.0                      0.0

       other_minority_st_females  other_minority_obc_total  \
0                            NaN                       NaN
1                            0.0                       0.0
2                            NaN                       NaN
3                            0.0                       0.0
4                            0.0                       0.0
...                          ...                       ...
68012                        0.0                      19.0
68013                        NaN                       NaN
68014                        NaN                       NaN
68015                        NaN                       NaN
68016                        0.0                       0.0

       other_minority_obc_females  other_minority_total_persons  \
0                             NaN                           0.0
1                             0.0                           0.0
2                             NaN                           NaN
3                             0.0                           0.0
4                             0.0                           0.0
...                           ...                           ...
68012                         2.0                          36.0
68013                         NaN                           NaN
68014                         NaN                           NaN
68015                         NaN                           NaN
68016                         0.0                           0.0

       other_minority_total_females  other_minority_remarks_id
0                               0.0                        1.0
1                               0.0                        NaN
2                               NaN                        3.0
3                               0.0                        NaN
4                               0.0                        NaN
...                             ...                        ...
68012                           7.0                        NaN
68013                           NaN                        3.0
68014                           NaN                        3.0
68015                           NaN                        3.0
68016                           0.0                        NaN

[67733 rows x 57 columns]>

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67733 entries, 0 to 68016
Data columns (total 57 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   University_id                    67733 non-null  int64
 1   University_name                  67733 non-null  object
 2   survey_year                      67733 non-null  int64
 3   faculty_name                     62686 non-null  object
 4   department_name                  32130 non-null  object
 5   levell                           67733 non-null  object
 6   programme_id                     67733 non-null  int64
 7   programme                        67733 non-null  object
 8   discipline_group_id              67733 non-null  int64
 9   discipline_group                 67733 non-null  object
 10  discipline                       67723 non-null  object
 11  type                             67733 non-null  object
 12  year                             60330 non-null  float64
 13  total_general_total              59630 non-null  float64
 14  total_general_females            59630 non-null  float64
 15  total_sc_total                   59630 non-null  float64
 16  total_sc_females                 59630 non-null  float64
 17  total_st_total                   59630 non-null  float64
 18  total_st_females                 59630 non-null  float64
 19  total_obc_total                  59567 non-null  float64
 20  total_obc_females                59567 non-null  float64
 21  total_total_persons              67733 non-null  int64
 22  total_total_females              67733 non-null  int64
 23  total_remarks_id                 8166 non-null   float64
 24  pwd_general_total                45969 non-null  float64
 25  pwd_general_females              45969 non-null  float64
 26  pwd_sc_total                     45969 non-null  float64
 27  pwd_sc_females                   45969 non-null  float64
 28  pwd_st_total                     45969 non-null  float64
 29  pwd_st_females                   45969 non-null  float64
 30  pwd_obc_total                    45978 non-null  float64
 31  pwd_obc_females                  45978 non-null  float64
 32  pwd_total_persons                67733 non-null  int64
 33  pwd_total_females                67733 non-null  int64
 34  pwd_remarks_id                   21765 non-null  float64
 35  muslim_minority_general_total    44824 non-null  float64
 36  muslim_minority_general_females  44824 non-null  float64
 37  muslim_minority_sc_total         44824 non-null  float64
 38  muslim_minority_sc_females       44824 non-null  float64
 39  muslim_minority_st_total         44824 non-null  float64
 40  muslim_minority_st_females       44824 non-null  float64
 41  muslim_minority_obc_total        44851 non-null  float64
 42  muslim_minority_obc_females      44851 non-null  float64
 43  muslim_minority_total_persons    60417 non-null  float64
 44  muslim_minority_total_females    60417 non-null  float64
 45  muslim_minority_remarks_id       22909 non-null  float64
 46  other_minority_general_total     43638 non-null  float64
 47  other_minority_general_females   43638 non-null  float64
 48  other_minority_sc_total          43638 non-null  float64
 49  other_minority_sc_females        43638 non-null  float64
 50  other_minority_st_total          43638 non-null  float64
 51  other_minority_st_females        43638 non-null  float64
 52  other_minority_obc_total         43653 non-null  float64
 53  other_minority_obc_females       43653 non-null  float64
 54  other_minority_total_persons     59810 non-null  float64
 55  other_minority_total_females     59810 non-null  float64
 56  other_minority_remarks_id        24097 non-null  float64
dtypes: float64(41), int64(8), object(8)
memory usage: 32.0+ MB

In [15]:
df.shape

(67733, 57)

In [16]:
df.columns

Index(['University_id', 'University_name', 'survey_year', 'faculty_name',
       'department_name', 'levell', 'programme_id', 'programme',
       'discipline_group_id', 'discipline_group', 'discipline', 'type', 'year',
       'total_general_total', 'total_general_females', 'total_sc_total',
       'total_sc_females', 'total_st_total', 'total_st_females',
       'total_obc_total', 'total_obc_females', 'total_total_persons',
       'total_total_females', 'total_remarks_id', 'pwd_general_total',
       'pwd_general_females', 'pwd_sc_total', 'pwd_sc_females', 'pwd_st_total',
       'pwd_st_females', 'pwd_obc_total', 'pwd_obc_females',
       'pwd_total_persons', 'pwd_total_females', 'pwd_remarks_id',
       'muslim_minority_general_total', 'muslim_minority_general_females',
       'muslim_minority_sc_total', 'muslim_minority_sc_females',
       'muslim_minority_st_total', 'muslim_minority_st_females',
       'muslim_minority_obc_total', 'muslim_minority_obc_females',
       'muslim_minority_total_persons', 'muslim_minority_total_females',
       'muslim_minority_remarks_id', 'other_minority_general_total',
       'other_minority_general_females', 'other_minority_sc_total',
       'other_minority_sc_females', 'other_minority_st_total',
       'other_minority_st_females', 'other_minority_obc_total',
       'other_minority_obc_females', 'other_minority_total_persons',
       'other_minority_total_females', 'other_minority_remarks_id'],
      dtype='object')